@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



:root{
    background-color: #3498db;
    font-family: 'Jost', sans-serif;
}


body{
    font-family: 'Jost', sans-serif;

}